name: Benchmarks

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  FORCE_COLOR: 3

jobs:
  benchmarks:
    name: Benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - run: npm install
      - name: Simple API calls
        run: node benchmarks/simple.js
      - name: Complex formatting expression
        run: node benchmarks/complex.js
      - name: Library module's init time
        run: node benchmarks/loading.js
      - name: NPM package size
        run: node benchmarks/size.js
